<% provide(:title, "ストレスチェックとは") %>
<h1>ストレスチェックとは</h1>

<h2>ストレスチェック制度について</h2>

ストレスチェック制度とは、従業員のストレスチェック（心理的な負担の程度を把握するための検査）と、
医師によるストレスチェックの結果に基づいた面接指導の実施等を事業者に対し義務づける制度です。
2015年6月25日に公布された「労働安全衛生法の一部を改正する法律」（平成26年法律第82号）において新たに創設されました。
また、それに伴い2015年12月1日からは従業員50人以上の職場で毎年一度定期的にストレスチェックを行うことが義務化されました。
一方、従業員数が50名未満の事業場については当面の間、ストレスチェックと医師による面談指導は努力義務となっています。