<% provide(:title, "ストレスチェック制度について") %>

<h2 class="text-center mt-5 mb-5">ストレスチェック制度について</h2>
<div class=class="card-deck mb-3 text-center">
  <div class="card mb-5 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">ストレスチェックとは</h4>
    </div>
    <div class="card-body">
      <p>
        ストレスチェック制度とは、従業員のストレスチェック（心理的な負担の程度を把握するための検査）と、
      医師によるストレスチェックの結果に基づいた面接指導の実施等を事業者に対し義務づける制度です。
      2015年6月25日に公布された「労働安全衛生法の一部を改正する法律」（平成26年法律第82号）において新たに創設されました。
      また、それに伴い2015年12月1日からは従業員50人以上の職場で毎年一度定期的にストレスチェックを行うことが義務化されました。
      一方、従業員数が50名未満の事業場については当面の間、ストレスチェックと医師による面談指導は努力義務となっています。
      </p>
    </div>
  </div>
  
  <div class="card mb-5 box-shadow">
    <div class="card-header">
      <a name="purpose"><h4 class="my-0 font-weight-normal">ストレスチェックの目的</h4></a>
    </div>
    <div class="card-body">
      <p>
        ストレスチェック制度の主目的は、メンタルヘルスの不調を未然に防止すること（一次予防）です。
        従業員のストレスの程度を把握し従業員自身のストレスへの気付きを促すとともに、ストレスの原因
        となる職場環境の改善に繋げ働きやすい職場づくりを進めることによって、メンタルヘルスの不調を
        未然に防止することができると考えられています。その背景には、精神障害の労災認定件数が３年連続
        で過去最多を更新するなど、職業生活で強い不安やストレスを感じている従業員の割合が高い状況で
        推移しているという近年の状況があります。
      </p>
    </div>
  </div>
  
  <div class="card mb-5 box-shadow">
    <div class="card-header">
      <a name="interview"><h4 class="my-0 font-weight-normal">産業医との面談について</h4></a>
    </div>
    <div class="card-body">
      <p>
        ストレスチェックの結果の通知を受けた従業員の中に高ストレス者として面接指導が必要と評価された
        従業員から申し出があったときには、医師による面接指導を行うことが事業者の義務になります。
        医師による面接指導に基づき、医師からの意見を勘案した上で、事業者は必要に応じて従業員に対して
        就労上の措置を講じる必要があります。面接指導と不利益な取扱いについての注意点たとえば下記のような従業員に対する不利益な取扱いを行うことは法律上禁止されます。
      </p>
        <li class="text-muted list-unstyled">①面接指導の申出を理由として、従業員に対して不利益な扱いをする事は法律で禁止されています。</li>
        <li class="text-muted list-unstyled">②ストレスチェックを受けない事、事業者へのストレスチェックの結果を提供しない、
        面接指導要件を満たしているにも関わらず申出をしないことなどを理由とした不利益な取り扱い。</li>
        <li class="text-muted list-unstyled">③面接指導の結果を理由とした、解雇、雇止め、退職勧奨、不当な配転・職位変更等も行ってはいけません。</li>
    </div>
  </div>
  
  
  
  
  
  <div class="small">    
  脚注:</br>
  労働安全衛生法に基づくストレスチェック制度実施マニュアル</br>
  http://www.mhlw.go.jp/bunya/roudoukijun/anzeneisei12/pdf/150507-1.pdf</br>
  改正労働安全衛生法に基づくストレスチェック制度の概要</br>
  http://www.mhlw.go.jp/file/05-Shingikai-11201000-Roudoukijunkyoku-Soumuka/0000050909.pdf</br>
  </div>
</div>

</br>
</br>
</br>