<% provide(:title, "StressAppについて") %>
<h2 class="text-center mt-5 mb-5">StressAppについて</h2>
  <div class=class="card-deck mb-3 text-center">
    <div class="card mb-5 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">StressAppの特徴</h4>
        </div>
        <div class="card-body">
          <p>
            StressAppは、Webからお手軽に厚生労働省が推奨する「職業性ストレス簡易調査票」の57項目に完全準拠したテストが可能です。
            スマートフォン、PC、タブレット等、多様なご利用端末にてテストが可能です。事業所だけではなく、ご自宅や外出先など、
            いつでも気軽に簡単にストレスチェックを受けることが可能です。受験者は、終了後すぐに画面上で検査の結果が確認できます。
          </p>
        </div>
    </div>
    
    <div class="card mb-5 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">料金について</h4>
      </div>
      <div class="card-body">
        <p>
          労働者１名あたり、年間100円で導入が可能です！基本料金などはありません。
          予定された受検人数が終了された場合、会社側アカウントへお支払いの詳細メールが届きます。
        </p>
      </div>
    </div>
    
    <div class="card mb-5 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">よくあるご質問</h4>
      </div>
      <div class="card-body">
        <h6 class="card-title">Q1.サービスの契約期間はどのようになっていますか？</h6>
        <p class="text-muted">
          年間契約等はなく、ストレスチェックを行った人数分のみ料金をお支払いいただきます。
          そのため、基本料金等はかかりません。
        </p>
        <h6 class="card-title">Q2.従業員登録はできますか？</h6>
        <p class="text-muted">
          従業員登録機能はありません。
          ストレスチェックを簡単に行えるよう、関連付け機能があります。会社と従業員が関連づくと、
          ストレスチェックの進捗状況や高ストレス者・面談希望者の情報が共有できます。
          社員登録の手間がなくなり、ストレスチェック担当者（会社）さまの負担が軽減されます。
        </p>
      </div>
    </div>
  </div>
  