<% provide(:title, "#{ @employee.first_name + @employee.last_name }") %>

  <h1>名前：<%= @employee.first_name + @employee.last_name %></h1>
  <h1>Email：<%= @employee.email %></h1>
  <h1>年齢：<%= @employee.age %>歳</h1>
  <h1>性別：<%= replace_sex(@employee.sex) %></h1>
     
