<% if @company.errors.any? %>
<div id="error_explanation">
  <div class="alert alert-danger">
    <strong>入力内容にエラーがあります</strong>
    <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>