<% if @department.errors.any? %>
  <div class="alert alert-danger">
    <strong>入力内容にエラーがあります</strong>
    <ul>
      <% @department.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>