<% provide(:title, "#{@project.project_name}") %>

<p>実施回名:<%= @project.project_name %></p>
<p>期間:<%= @project.start_date %>〜<%= @project.end_date %></p>
<p>受検対象者人数:<%= @project.employee_number %>人</p>