<% provide(:title, "#{@company.company_name}") %>
<div class="row">
  <aside class="col-md-4">
    <section class="company_info">
      <h1>会社名：<%= @company.company_name %></h1>
      <h1>email：<%= @company.company_email %></h1>
    </section>
  </aside>
</div>


