<h1>Stress App</h1>

<p><%= @company.company_name %>様,</p>

<p>
Stress Appへご登録いただきありがとうございます！下記のリンクをクリックしてアカウントを有効にしてください。
</p>

<%= link_to "アカウントを有効にする", edit_account_activation_url(@company.activation_token,
        email: @company.company_email)  %>