<h1>Stress App</h1>

<p>Hi <%= @company.company_name %>,</p>

<p>
Welcome to the Stress App! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@company.activation_token,
        email: @company.company_email)  %>