<footer class="footer">
  <small>
    
  </small>
  <nav>
    <ul>
      <li><%= link_to "ストレスチェックとは", about_path %></li>
      <li><%= link_to "お問い合わせ", contact_path %></li>
    </ul>
  </nav>
</footer>