<footer class="pt-4 my-md-5 pt-md-5 border-top d-print-none">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3 text-muted">© Life-Oakmont LCC, 2018</small>
    </div>
    <div class="col-12 col-md">
      <ul class="list-unstyled text-small text-center">
        <h5>Stress Appについて</h5>
        <li><%= link_to "StressAppの特徴", service_path, class: "text-muted" %></li>
        <li><a class="text-muted" href="#">料金について</a></li>
        <li><a class="text-muted" href="#">よくあるご質問</a></li>
        <li><%= link_to "お問い合わせ", inquiry_path, class: "text-muted" %></li>
      </ul>
    </div>
    <div class="col-12 col-md">
      <ul class="list-unstyled text-small text-center">
        <h5>ストレスチェック制度について</h5>
        <li><%= link_to "ストレスチェックとは", about_path, class: "text-muted" %></li>
        <li><a class="text-muted" href="#">ストレスチェックの目的</a></li>
        <li><a class="text-muted" href="#">産業医との面談について</a></li>
    </div>
    <div class="col-12 col-md">
      <ul class="list-unstyled text-small text-center">
        <h5>会社情報</h5>
        <li><a class="text-muted" href="#">会社概要</a></li>
        <li><a class="text-muted" href="#">スタッフ</a></li>
        <li><%= link_to "プライバシーポリシー", privacy_path, class: "text-muted" %></li>
      </ul>
    </div>
  </div>
</footer>